.oversimplified_currency_converter_container {
  background-color: #e1e1e1;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.oversimplified_currency_converter_container input[type="text"] {
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.oversimplified_currency_converter_unit {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.oversimplified_currency_converter_conversion_symbol {
  width: 4rem;
  height: auto;
}
